parameters:
  - $ref: ../components/parameters/applicationId.yaml
get:
  x-products:
    - Users
  tags:
    - Application users
  summary: Retrieve an application instance
  operationId: GetApplicationInstance
  x-sdk-operation-name: get
  description: Retrieves an application instance with the specified ID.
  responses:
    '200':
      description: Application instance retrieved.
      headers:
        Pagination-Total:
          $ref: ../components/headers/Pagination-Total.yaml
        Pagination-Limit:
          $ref: ../components/headers/Pagination-Limit.yaml
        Pagination-Offset:
          $ref: ../components/headers/Pagination-Offset.yaml
      content:
        application/json:
          schema:
            $ref: ../components/schemas/ApplicationInstance.yaml
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
  x-codeSamples:
    - lang: PHP
      label: PHP-SDK-2.0
      source:
        $ref: ../code_samples/PHP-SDK-2.0/application-instances@{applicationId}/get.php
    - lang: JavaScript
      source:
        $ref: ../code_samples/JavaScript/application-instances@{applicationId}/get.js
    - lang: PHP
      source:
        $ref: ../code_samples/PHP/application-instances@{applicationId}/get.php
put:
  x-products:
    - Users
  tags:
    - Application users
  summary: Upsert an application instance
  operationId: PutApplicationInstance
  x-sdk-operation-name: upsert
  description: Creates or updates (upserts) an application instance.
  requestBody:
    content:
      application/json:
        schema:
          $ref: ../components/schemas/ApplicationInstance.yaml
  responses:
    '200':
      description: Application instance updated.
      headers:
        X-RateLimit-Limit:
          $ref: ../components/headers/X-RateLimit-Limit.yaml
        X-RateLimit-Remaining:
          $ref: ../components/headers/X-RateLimit-Remaining.yaml
      content:
        application/json:
          schema:
            $ref: ../components/schemas/ApplicationInstance.yaml
    '201':
      description: Application instance created.
      headers:
        Location:
          $ref: ../components/headers/Location.yaml
        X-RateLimit-Limit:
          $ref: ../components/headers/X-RateLimit-Limit.yaml
        X-RateLimit-Remaining:
          $ref: ../components/headers/X-RateLimit-Remaining.yaml
      content:
        application/json:
          schema:
            $ref: ../components/schemas/ApplicationInstance.yaml
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
    '422':
      $ref: ../components/responses/ValidationError.yaml
    '429':
      $ref: ../components/responses/TooManyRequests.yaml
  x-codeSamples:
    - lang: PHP
      label: PHP-SDK-2.0
      source:
        $ref: ../code_samples/PHP-SDK-2.0/application-instances@{applicationId}/put.php
    - lang: JavaScript
      source:
        $ref: ../code_samples/JavaScript/application-instances@{applicationId}/put.js
    - lang: PHP
      source:
        $ref: ../code_samples/PHP/application-instances@{applicationId}/put.php
delete:
  x-products:
    - Users
  tags:
    - Application users
  summary: Delete application instance
  operationId: DeleteApplicationInstance
  x-sdk-operation-name: delete
  security:
    - SecretApiKey: []
    - JWT: []
    - ApplicationJWT: []
  description: Deletes an application instance with the specified ID.
  responses:
    '204':
      description: Application instance deleted.
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
    '404':
      $ref: ../components/responses/NotFound.yaml
    '429':
      $ref: ../components/responses/TooManyRequests.yaml
  x-codeSamples:
    - lang: PHP
      label: PHP-SDK-2.0
      source:
        $ref: ../code_samples/PHP-SDK-2.0/application-instances@{applicationId}/delete.php
    - lang: JavaScript
      source:
        $ref: ../code_samples/JavaScript/application-instances@{applicationId}/delete.js
    - lang: PHP
      source:
        $ref: ../code_samples/PHP/application-instances@{applicationId}/delete.php
