get:
  x-products:
    - Users
  tags:
    - Application users
  summary: Retrieve applications
  operationId: GetApplicationCollection
  x-sdk-operation-name: getAll
  description: |-
    Retrieves a list of applications that are available in the Rebilly App Store.
    Applications may be sorted by: `id`, `name`, `status`, `createdTime`,
    and `updatedTime`.
  parameters:
    - $ref: ../components/parameters/collectionLimit.yaml
    - $ref: ../components/parameters/collectionOffset.yaml
    - $ref: ../components/parameters/collectionFilter.yaml
    - $ref: ../components/parameters/collectionQuery.yaml
    - $ref: ../components/parameters/collectionExpand.yaml
    - $ref: ../components/parameters/collectionFields.yaml
    - $ref: ../components/parameters/collectionSort.yaml
  responses:
    '200':
      description: List of applications retrieved.
      headers:
        Pagination-Total:
          $ref: ../components/headers/Pagination-Total.yaml
        Pagination-Limit:
          $ref: ../components/headers/Pagination-Limit.yaml
        Pagination-Offset:
          $ref: ../components/headers/Pagination-Offset.yaml
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: ../components/schemas/UserApplication.yaml
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
  x-codeSamples:
    - lang: PHP
      label: PHP-SDK-2.0
      source:
        $ref: ../code_samples/PHP-SDK-2.0/applications/get.php
    - lang: JavaScript
      source:
        $ref: ../code_samples/JavaScript/applications/get.js
    - lang: PHP
      source:
        $ref: ../code_samples/PHP/applications/get.php
post:
  x-products:
    - Users
  tags:
    - Application owners
  summary: Register an application
  operationId: PostApplication
  x-sdk-operation-name: create
  description: |-
    Registers an application and displays it publicly in the [App Store](https://app.rebilly.com/app-store).
    Before you submit an application, read the [App Store documentation](https://www.rebilly.com/docs/content/concepts-and-features/app-store/).
  requestBody:
    content:
      application/json:
        schema:
          $ref: ../components/schemas/Application.yaml
  responses:
    '201':
      description: Application registered.
      headers:
        Location:
          $ref: ../components/headers/Location.yaml
        X-RateLimit-Limit:
          $ref: ../components/headers/X-RateLimit-Limit.yaml
        X-RateLimit-Remaining:
          $ref: ../components/headers/X-RateLimit-Remaining.yaml
      content:
        application/json:
          schema:
            $ref: ../components/schemas/Application.yaml
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
    '409':
      $ref: ../components/responses/Conflict.yaml
    '422':
      $ref: ../components/responses/ValidationError.yaml
    '429':
      $ref: ../components/responses/TooManyRequests.yaml
  x-codeSamples:
    - lang: PHP
      label: PHP-SDK-2.0
      source:
        $ref: ../code_samples/PHP-SDK-2.0/applications/post.php
    - lang: JavaScript
      source:
        $ref: ../code_samples/JavaScript/applications/post.js
    - lang: PHP
      source:
        $ref: ../code_samples/PHP/applications/post.php
