parameters:
  - $ref: ../components/parameters/resourceId.yaml
get:
  x-products:
    - Users
  tags:
    - Application users
  summary: Retrieve application
  operationId: GetApplication
  x-sdk-operation-name: get
  description: Retrieves an application from the Rebilly App Store with the specified ID.
  responses:
    '200':
      description: Application retrieved.
      headers:
        Pagination-Total:
          $ref: ../components/headers/Pagination-Total.yaml
        Pagination-Limit:
          $ref: ../components/headers/Pagination-Limit.yaml
        Pagination-Offset:
          $ref: ../components/headers/Pagination-Offset.yaml
      content:
        application/json:
          schema:
            $ref: ../components/schemas/UserApplication.yaml
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
  x-codeSamples:
    - lang: PHP
      label: PHP-SDK-2.0
      source:
        $ref: ../code_samples/PHP-SDK-2.0/applications@{id}/get.php
    - lang: JavaScript
      source:
        $ref: ../code_samples/JavaScript/applications@{id}/get.js
    - lang: PHP
      source:
        $ref: ../code_samples/PHP/applications@{id}/get.php
