parameters:
  - $ref: ../components/parameters/organizationId.yaml
get:
  tags:
    - Email Delivery Settings
  summary: Retrieve a list of email delivery settings
  operationId: GetEmailDeliverySettingCollection
  responses:
    '200':
      description: A list of email delivery settings was retrieved successfully.
      headers:
        Rate-Limit-Limit:
          $ref: ../components/headers/Rate-Limit-Limit.yaml
        Rate-Limit-Remaining:
          $ref: ../components/headers/Rate-Limit-Remaining.yaml
        Rate-Limit-Reset:
          $ref: ../components/headers/Rate-Limit-Reset.yaml
        Pagination-Total:
          $ref: ../components/headers/Pagination-Total.yaml
        Pagination-Limit:
          $ref: ../components/headers/Pagination-Limit.yaml
        Pagination-Offset:
          $ref: ../components/headers/Pagination-Offset.yaml
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: >-
                ../components/schemas/EmailDeliverySettings/EmailDeliverySetting.yaml
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
post:
  tags:
    - Email Delivery Settings
  summary: Create an email delivery setting
  operationId: PostEmailDeliverySetting
  description: >
    Create an email delivery setting.  The email delivery setting is used in.
    conjunction with email messages or templates to send emails.
  responses:
    '201':
      description: Email delivery setting was created.
      headers:
        Rate-Limit-Limit:
          $ref: ../components/headers/Rate-Limit-Limit.yaml
        Rate-Limit-Remaining:
          $ref: ../components/headers/Rate-Limit-Remaining.yaml
        Rate-Limit-Reset:
          $ref: ../components/headers/Rate-Limit-Reset.yaml
      content:
        application/json:
          schema:
            $ref: >-
              ../components/schemas/EmailDeliverySettings/EmailDeliverySetting.yaml
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
    '422':
      $ref: ../components/responses/ValidationError.yaml
  requestBody:
    content:
      application/json:
        schema:
          $ref: >-
            ../components/schemas/EmailDeliverySettings/EmailDeliverySetting.yaml
    description: Email delivery setting resource.
    required: true
