parameters:
  - $ref: ../components/parameters/resourceId.yaml
get:
  x-products:
    - Users
  tags:
    - Email delivery settings
  summary: Retrieve an email delivery setting
  operationId: GetEmailDeliverySetting
  x-sdk-operation-name: get
  description: |
    Retrieve an email delivery setting.
  responses:
    '200':
      description: >-
        Email delivery setting with specified identifier was retrieved.
      content:
        application/json:
          schema:
            $ref: >-
              ../components/schemas/EmailDeliverySettings/EmailDeliverySetting.yaml
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
    '404':
      $ref: ../components/responses/NotFound.yaml
delete:
  x-products:
    - Users
  tags:
    - Email delivery settings
  summary: Delete an email delivery setting
  operationId: DeleteEmailDeliverySetting
  x-sdk-operation-name: delete
  description: |
    Delete an email delivery setting.
  responses:
    '204':
      description: Email delivery setting was deleted.
    '409':
      $ref: ../components/responses/Conflict.yaml
patch:
  x-products:
    - Users
  tags:
    - Email delivery settings
  summary: Update an email delivery setting
  operationId: PatchEmailDeliverySettings
  x-sdk-operation-name: update
  description: |
    Update an email delivery setting.
  requestBody:
    content:
      application/json:
        schema:
          $ref: >-
            ../components/schemas/EmailDeliverySettings/EmailDeliverySetting.yaml
    description: Email delivery setting resource.
    required: true
  responses:
    '200':
      description: Email delivery setting was updated.
      content:
        application/json:
          schema:
            $ref: >-
              ../components/schemas/EmailDeliverySettings/EmailDeliverySetting.yaml
    '401':
      $ref: ../components/responses/Unauthorized.yaml
    '403':
      $ref: ../components/responses/Forbidden.yaml
    '409':
      $ref: ../components/responses/Conflict.yaml
    '422':
      $ref: ../components/responses/ValidationError.yaml
