# Code Owners settings
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# As soon as a PR is added or a project is published, these teams will be invited for review.
*.yaml @Rebilly/docs @Rebilly/js @Rebilly/php
*.md @Rebilly/docs @Rebilly/js @Rebilly/php
package.json @Rebilly/js @Rebilly/php
package-lock.json @Rebilly/js @Rebilly/php
