openapi: 3.0.3
info:
  version: '2.1'
  title: Rebilly REST API
  contact:
    name: Rebilly API Support
    url: 'https://www.rebilly.com/contact/'
    email: integrations@rebilly.com
  license:
    name: Rebilly
    url: 'https://www.rebilly.com/api-license/'
  termsOfService: 'https://www.rebilly.com/terms-of-use/'
  x-logo:
    url: 'https://rebilly-core.redoc.ly/rb_apiLogo.svg'
    backgroundColor: '#0033A0'
  description:
    $ref: description.md
servers:
  - url: 'https://api-sandbox.rebilly.com/v2.1'
    description: Sandbox Server
  - url: 'https://api.rebilly.com/v2.1'
    description: Live Server
tags:
  - name: 3D Secure
    description: |
      3D Secure is a way to authenticate and protect transactions.  Typically,
      it's only possible to protect the initial transaction in a subscription
      with 3D Secure.
  - name: AML
    description: |
      AML, also known as Anti-Money-Laundering is an endpoint that searches multiple
      PEP, Sanctions, and Adverse Media lists for listed identities or media for screening
      purposes. Used during some transaction processing and on Contact creation, it helps
      determine whether someone is blocklisted or has political or economic sanctions against
      them.
  - name: Bank Accounts
    description: |
      Bank Accounts are a type of payment instrument used to collect
      ACH (echeck) payments, similar to how a payment
      card would be used to for a credit card payment.
  - name: Blocklists
    description: |
      Your blocklists contains values of customerIds, email addresses,
      ipAddresses, bank identification numbers, countries or payment cards that
      you do NOT want to do business with. They are a good tool for managing
      risk. A blocklist entry that expires after a period of time we call a
      greylist.
  - name: Coupons
    description: >
      Coupons allows to apply different types of discounts to Invoices,
      Subscriptions and Plans. Redeemed Coupons will be applied only to Invoices
      with the same currency.
  - name: Customers
    description: |
      Customers are your customers, sometimes known as accounts, clients,
      members, patrons, or players in other systems.
  - name: Customers Timeline
    description: |
      The customers timeline keeps an audit trail of changes and activity for each customer.
  - name: KYC Documents
    description: >
      Customer KYC files uploaded on behalf of a customer, tagged with a
      document type and submitted for validation.
  - name: Customer Authentication
    description: >
      Create authentication credentials, login, logout, and verify your
      customers.
  - name: Custom Fields
    description: |
      Create additional custom fields for particular resources.  You may name,
      describe, and determine the type of the schema.
  - name: Disputes
    description: |
      Handle disputes (chargebacks and retrievals).
  - name: Files
    description: >
      A File is an entity that can store a physical file and some metadata. It
      also provides an easy access to

      its size, mime-type, user-defined tags and description thus allowing easy
      sorting and searching among stored

      files.

      There are several methods of file uploading available: multipart/form-data
      encoded form, RAW POST (by sending

      file contents as POST body), fetching from URL (by providing the file URL
      via 'url' param)

      Attachment is an entity that is used to link a File to one or multiple
      objects like Customer, Dispute, Payment,

      Transaction, Subscription, Plan, Product, Invoice, Note. That allows to
      quickly find and use files related to

      those specific entities.
  - name: Invoices
    description: >
      Invoices leave a record for both you and your customer of the products
      sold.
  - name: Payment Instruments
    description: >
      The Payment Instrument allows you to accept a variety of payment methods through a single API.
  - name: Payment Cards
    description: >
      Payment cards are a type of payment instrument used for credit and debit
      card

      sales.  Rebilly securely vaults the full payment card number, and can pass
      it

      onward securely to any gateway account to transact business.
  - name: PayPal Accounts
    description: >
      PayPal Accounts are used for paying with PayPal.  We can generate a BAID
      (billing

      agreement id) which will allow for recurring billing.
  - name: Payment Tokens
    description: >
      Payment tokens are used to reduce the scope of PCI DSS compliance.  A
      payment

      token can be made using a different authentication scheme (refer to the
      public key

      authentication scheme in the Authentication section), which allows you to

      create a payment token directly from the browser, bypassing the need to
      send

      sensitive cardholder info to your servers.  We recommend using this with
      our

      Rebilly.js library, which helps you wire a form into this API resource and
      create

      payment tokens.
  - name: Plans
    description: >
      Plans are a template for making a subscription.  For example, you may have
      a plan

      that has a 30-day free trial followed by a recurring charge of $19.95 per
      month

      until canceled.  The combination of the plan and a request to make a
      subscription

      will apply those instructions to create the invoices according to the
      plan's

      schedule.
  - name: Products
    description: |
      A product describes what you sell (goods or services).
      A product determines how what you sell appears on invoices and receipts.
      The pricing for products is set in Plans.  One product can have many
      plans.
  - name: Reports
    description: >
      The Rebilly Reporting API is currently experimental. You may see

      the [Reports API Documentation
      here](https://reports-api-docs.rebilly.com).
  - name: Search
    description: |
      Search data including customers, invoices, orders, transactions and more.
  - name: Shipping Zones
    description: >
      A shipping zone contains regions and countries that you ship to. Each
      shipping zone has its own shipping rates.
  - name: Subscriptions
    description: >
      A subscription applies a plan's template to create invoices for a customer
      at the

      appropriate scheduled intervals.  A subscription may also determine if the
      payment

      is collected automatically (with autopay set true).
  - name: Tags
    description: |
      Tag customers to better organize your data.
  - name: Taxes
    description: |
      You can map a product to a tax category.  The tax category is used by
      tax providers to calculate taxes for invoices.
  - name: Transactions
    description: |
      Get and refund transactions.
  - name: Users
    description: >
      The Rebilly User API is primarily for our GUI apps.  You may see

      the [User API Documentation
      here](https://user-api-docs.rebilly.com).

      A User represents a person who can login to Rebilly, and take actions
      subject to

      their granted permissions.  It has resources less commonly integrated by

      3rd parties.
x-tagGroups:
  - name: Customers
    tags:
      - Customers
      - Customer Authentication
      - KYC Documents
      - AML
      - Tags
      - Customers Timeline
  - name: Payment Instruments
    tags:
      - Payment Instruments
      - Payment Tokens
      - Payment Cards
      - Bank Accounts
      - PayPal Accounts
  - name: Payments
    tags:
      - Transactions
      - 3D Secure
      - Disputes
      - Blocklists
  - name: Subscriptions & Invoices
    tags:
      - Subscriptions
      - Invoices
      - Plans
      - Products
      - Coupons
      - Shipping Zones
      - Taxes
  - name: Misc
    tags:
      - Custom Fields
      - Files
      - Reports
      - Search
      - Users
security:
  - SecretApiKey: []
  - JWT: []
paths:
  /3dsecure:
    $ref: ./paths/3dsecure.yaml
  '/3dsecure/{id}':
    $ref: './paths/3dsecure@{id}.yaml'
  /aml:
    $ref: './paths/aml.yaml'
  /attachments:
    $ref: ./paths/attachments.yaml
  '/attachments/{id}':
    $ref: './paths/attachments@{id}.yaml'
  /authentication-options:
    $ref: ./paths/authentication-options.yaml
  /authentication-tokens:
    $ref: ./paths/authentication-tokens.yaml
  '/authentication-tokens/{token}':
    $ref: './paths/authentication-tokens@{token}.yaml'
  '/authentication-tokens/{token}/exchange':
    $ref: './paths/authentication-tokens@{token}@exchange.yaml'
  /bank-accounts:
    $ref: ./paths/bank-accounts.yaml
  '/bank-accounts/{id}':
    $ref: './paths/bank-accounts@{id}.yaml'
  '/bank-accounts/{id}/deactivation':
    $ref: './paths/bank-accounts@{id}@deactivation.yaml'
  /blocklists:
    $ref: ./paths/blocklists.yaml
  '/blocklists/{id}':
    $ref: './paths/blocklists@{id}.yaml'
  /coupons-redemptions:
    $ref: ./paths/coupons-redemptions.yaml
  '/coupons-redemptions/{id}':
    $ref: './paths/coupons-redemptions@{id}.yaml'
  '/coupons-redemptions/{id}/cancel':
    $ref: './paths/coupons-redemptions@{id}@cancel.yaml'
  /coupons:
    $ref: ./paths/coupons.yaml
  '/coupons/{id}':
    $ref: './paths/coupons@{id}.yaml'
  '/coupons/{id}/expiration':
    $ref: './paths/coupons@{id}@expiration.yaml'
  /credentials:
    $ref: ./paths/credentials.yaml
  '/credentials/{id}':
    $ref: './paths/credentials@{id}.yaml'
  '/custom-fields/{resource}':
    $ref: './paths/custom-fields@{resource}.yaml'
  '/custom-fields/{resource}/{name}':
    $ref: './paths/custom-fields@{resource}@{name}.yaml'
  /customers:
    $ref: ./paths/customers.yaml
  '/customers/{id}':
    $ref: './paths/customers@{id}.yaml'
  /customer-timeline-custom-events:
    $ref: ./paths/customer-timeline-custom-events.yaml
  '/customer-timeline-custom-events/{id}':
    $ref: './paths/customer-timeline-custom-events@{id}.yaml'
  /customer-timeline-events:
    $ref: ./paths/customer-timeline-events.yaml
  '/customers/{id}/lead-source':
    $ref: './paths/customers@{id}@lead-source.yaml'
  '/customers/{id}/timeline':
    $ref: './paths/customers@{id}@timeline.yaml'
  '/customers/{id}/timeline/{messageId}':
    $ref: './paths/customers@{id}@timeline@{messageId}.yaml'
  /disputes:
    $ref: ./paths/disputes.yaml
  '/disputes/{id}':
    $ref: './paths/disputes@{id}.yaml'
  /files:
    $ref: ./paths/files.yaml
  '/files/{id}':
    $ref: './paths/files@{id}.yaml'
  '/files/{id}/download':
    $ref: './paths/files@{id}@download.yaml'
  '/files/{id}/download{extension}':
    $ref: './paths/files@{id}@download{extension}.yaml'
  /invoices:
    $ref: ./paths/invoices.yaml
  '/invoices/{id}':
    $ref: './paths/invoices@{id}.yaml'
  '/invoices/{id}/items':
    $ref: './paths/invoices@{id}@items.yaml'
  '/invoices/{id}/issue':
    $ref: './paths/invoices@{id}@issue.yaml'
  '/invoices/{id}/abandon':
    $ref: './paths/invoices@{id}@abandon.yaml'
  '/invoices/{id}/void':
    $ref: './paths/invoices@{id}@void.yaml'
  '/invoices/{id}/recalculate':
    $ref: './paths/invoices@{id}@recalculate.yaml'
  '/invoices/{id}/reissue':
    $ref: './paths/invoices@{id}@reissue.yaml'
  '/invoices/{id}/transaction-allocations':
    $ref: './paths/invoices@{id}@transaction-allocations.yaml'
  '/invoices/{id}/transaction':
    $ref: './paths/invoices@{id}@transaction.yaml'
  '/customers/{id}/upcoming-invoices':
    $ref: './paths/customers@{id}@upcoming-invoices.yaml'
  '/invoices/{id}/timeline':
    $ref: './paths/invoices@{id}@timeline.yaml'
  '/invoices/{id}/timeline/{messageId}':
    $ref: './paths/invoices@{id}@timeline@{messageId}.yaml'
  /kyc-documents:
    $ref: ./paths/kyc-documents.yaml
  '/kyc-documents/{id}':
    $ref: './paths/kyc-documents@{id}.yaml'
  '/kyc-documents/{id}/acceptance':
    $ref: './paths/kyc-documents@{id}@acceptance.yaml'
  '/kyc-documents/{id}/rejection':
    $ref: './paths/kyc-documents@{id}@rejection.yaml'
  '/kyc-documents/{id}/review':
    $ref: './paths/kyc-documents@{id}@review.yaml'
  /password-tokens:
    $ref: ./paths/password-tokens.yaml
  '/password-tokens/{id}':
    $ref: './paths/password-tokens@{id}.yaml'
  /payment-cards:
    $ref: ./paths/payment-cards.yaml
  '/payment-cards/{id}':
    $ref: './paths/payment-cards@{id}.yaml'
  # '/payment-cards/{id}/authorization':
  #   $ref: './paths/payment-cards@{id}@authorization.yaml'
  '/payment-cards/{id}/deactivation':
    $ref: './paths/payment-cards@{id}@deactivation.yaml'
  /paypal-accounts:
    $ref: ./paths/paypal-accounts.yaml
  '/paypal-accounts/{id}':
    $ref: './paths/paypal-accounts@{id}.yaml'
#  '/paypal-accounts/{id}/activation':
#    $ref: './paths/paypal-accounts@{id}@activation.yaml'
  '/paypal-accounts/{id}/deactivation':
    $ref: './paths/paypal-accounts@{id}@deactivation.yaml'
  '/payment-instruments':
    $ref: './paths/payment-instruments.yaml'
  '/payment-instruments/{id}':
    $ref: './paths/payment-instruments@{id}.yaml'
  '/payment-instruments/{id}/deactivation':
    $ref: './paths/payment-instruments@{id}@deactivation.yaml'
  /plans:
    $ref: ./paths/plans.yaml
  '/plans/{id}':
    $ref: './paths/plans@{id}.yaml'
  /products:
    $ref: ./paths/products.yaml
  '/products/{id}':
    $ref: './paths/products@{id}.yaml'
  '/ready-to-pay':
    $ref: ./paths/ready-to-pay.yaml
  /search:
    $ref: ./paths/search.yaml
  /shipping-zones:
    $ref: ./paths/shipping-zones.yaml
  '/shipping-zones/{id}':
    $ref: './paths/shipping-zones@{id}.yaml'
  /subscriptions:
    $ref: ./paths/subscriptions.yaml
  '/subscriptions/{id}':
    $ref: './paths/subscriptions@{id}.yaml'
  '/subscriptions/{id}/change-plan':
    $ref: './paths/subscriptions@{id}@change-plan.yaml'
  '/subscriptions/{id}/interim-invoice':
    $ref: './paths/subscriptions@{id}@interim-invoice.yaml'
  /subscription-cancellations:
    $ref: ./paths/subscription-cancellations.yaml
  '/subscription-cancellations/{id}':
    $ref: './paths/subscription-cancellations@{id}.yaml'
  /subscription-reactivations:
    $ref: ./paths/subscription-reactivations.yaml
  '/subscription-reactivations/{id}':
    $ref: './paths/subscription-reactivations@{id}.yaml'
  '/subscriptions/{id}/upcoming-invoices':
    $ref: './paths/subscriptions@{id}@upcoming-invoices.yaml'
  '/subscriptions/{id}/upcoming-invoices/{invoiceId}/issue':
    $ref: './paths/subscriptions@{id}@upcoming-invoices@{invoiceId}@issue.yaml'
  '/subscriptions/{id}/timeline':
    $ref: './paths/subscriptions@{id}@timeline.yaml'
  '/subscriptions/{id}/timeline/{messageId}':
    $ref: './paths/subscriptions@{id}@timeline@{messageId}.yaml'
  /tags:
    $ref: ./paths/tags.yaml
  '/tags/{tag}':
    $ref: './paths/tags@{tag}.yaml'
  '/tags/{tag}/customers':
    $ref: './paths/tags@{tag}@customers.yaml'
  '/tags/{tag}/customers/{customerId}':
    $ref: './paths/tags@{tag}@customers@{customerId}.yaml'
  /tokens:
    $ref: ./paths/tokens.yaml
  '/tokens/{token}':
    $ref: './paths/tokens@{token}.yaml'
  /digital-wallets/validation:
    $ref: './paths/digital-wallets@validation.yaml'
  /transactions:
    $ref: ./paths/transactions.yaml
  '/transactions/{id}':
    $ref: './paths/transactions@{id}.yaml'
  /payouts:
    $ref: ./paths/payouts.yaml
  '/transactions/{id}/cancel':
    $ref: './paths/transactions@{id}@cancel.yaml'
  '/transactions/{id}/gateway-logs':
    $ref: './paths/transactions@{id}@gateway-logs.yaml'
  '/transactions/{id}/refund':
    $ref: './paths/transactions@{id}@refund.yaml'
  '/transactions/{id}/timeline':
    $ref: './paths/transactions@{id}@timeline.yaml'
  '/transactions/{id}/timeline/{messageId}':
    $ref: './paths/transactions@{id}@timeline@{messageId}.yaml'
components:
  securitySchemes:
    JWT:
      $ref: components/securitySchemes/JWT.yaml
    PublishableApiKey:
      $ref: components/securitySchemes/PublishableApiKey.yaml
    SecretApiKey:
      $ref: components/securitySchemes/SecretApiKey.yaml
x-webhooks:
  aml-list-possibly-matched:
    post:
      $ref: ./webhooks/aml-list-possibly-matched.yaml
  customer-created:
    post:
      $ref: ./webhooks/customer-created.yaml
  customer-merged:
    post:
      $ref: ./webhooks/customer-merged.yaml
  customer-one-time-password-requested:
    post:
      $ref: ./webhooks/customer-one-time-password-requested.yaml
  customer-updated:
    post:
      $ref: ./webhooks/customer-updated.yaml
  dispute-created:
    post:
      $ref: ./webhooks/dispute-created.yaml
  gateway-account-requested:
    post:
      $ref: ./webhooks/gateway-account-requested.yaml
  invoice-abandoned:
    post:
      $ref: ./webhooks/invoice-abandoned.yaml
  invoice-created:
    post:
      $ref: ./webhooks/invoice-created.yaml
  invoice-issued:
    post:
      $ref: ./webhooks/invoice-issued.yaml
  invoice-modified:
    post:
      $ref: ./webhooks/invoice-modified.yaml
  invoice-paid:
    post:
      $ref: ./webhooks/invoice-paid.yaml
  invoice-past-due:
    post:
      $ref: ./webhooks/invoice-past-due.yaml
  invoice-past-due-reminder:
    post:
      $ref: ./webhooks/invoice-past-due-reminder.yaml
  invoice-reissued:
    post:
      $ref: ./webhooks/invoice-reissued.yaml
  invoice-voided:
    post:
      $ref: ./webhooks/invoice-voided.yaml
  kyc-document-accepted:
    post:
      $ref: ./webhooks/kyc-document-accepted.yaml
  kyc-document-rejected:
    post:
      $ref: ./webhooks/kyc-document-rejected.yaml
  kyc-document-reviewed:
    post:
      $ref: ./webhooks/kyc-document-reviewed.yaml
  nsf-response-received:
    post:
      $ref: ./webhooks/nsf-response-received.yaml
  offsite-payment-completed:
    post:
      $ref: ./webhooks/offsite-payment-completed.yaml
  order-completed:
    post:
      $ref: ./webhooks/order-completed.yaml
  payment-card-created:
    post:
      $ref: ./webhooks/payment-card-created.yaml
  payment-card-expiration-reminder:
    post:
      $ref: ./webhooks/payment-card-expiration-reminder.yaml
  payment-card-expired:
    post:
      $ref: ./webhooks/payment-card-expired.yaml
  renewal-invoice-issued:
    post:
      $ref: ./webhooks/renewal-invoice-issued.yaml
  renewal-invoice-payment-canceled:
    post:
      $ref: ./webhooks/renewal-invoice-payment-canceled.yaml
  renewal-invoice-payment-declined:
    post:
      $ref: ./webhooks/renewal-invoice-payment-declined.yaml
  risk-score-changed:
    post:
      $ref: ./webhooks/risk-score-changed.yaml
  subscription-activated:
    post:
      $ref: ./webhooks/subscription-activated.yaml
  subscription-canceled:
    post:
      $ref: ./webhooks/subscription-canceled.yaml
  subscription-reactivated:
    post:
      $ref: ./webhooks/subscription-reactivated.yaml
  subscription-renewal-reminder:
    post:
      $ref: ./webhooks/subscription-renewal-reminder.yaml
  subscription-renewed:
    post:
      $ref: ./webhooks/subscription-renewed.yaml
  subscription-trial-converted:
    post:
      $ref: ./webhooks/subscription-trial-converted.yaml
  subscription-trial-end-reminder:
    post:
      $ref: ./webhooks/subscription-trial-end-reminder.yaml
  subscription-trial-ended:
    post:
      $ref: ./webhooks/subscription-trial-ended.yaml
  transaction-amount-discrepancy-found:
    post:
      $ref: ./webhooks/transaction-amount-discrepancy-found.yaml
  transaction-declined:
    post:
      $ref: ./webhooks/transaction-declined.yaml
  transaction-discrepancy-found:
    post:
      $ref: ./webhooks/transaction-discrepancy-found.yaml
  transaction-process-requested:
    post:
      $ref: ./webhooks/transaction-process-requested.yaml
  transaction-processed:
    post:
      $ref: ./webhooks/transaction-processed.yaml
  transaction-timeout-resolved:
    post:
      $ref: ./webhooks/transaction-timeout-resolved.yaml
  waiting-gateway-transaction-completed:
    post:
      $ref: ./webhooks/waiting-gateway-transaction-completed.yaml
