openapi: 3.0.3
info:
  version: "2.1"
  title: "Rebilly Products API"
  contact:
    name: "Rebilly API Support"
    url: "https://www.rebilly.com/contact/"
    email: "integrations@rebilly.com"
  license:
    name: "Rebilly"
    url: 'https://www.rebilly.com/api-license/'
  termsOfService: 'https://www.rebilly.com/terms-of-use/'
  x-logo:
    url: 'https://rebilly-core.redoc.ly/rb_apiLogo.svg'
    backgroundColor: '#0033A0'
  description:
    $ref: description.md

security:
  - SecretApiKey: []
  - JWT: []

servers:
  - url: 'https://api-sandbox.rebilly.com'
    description: Sandbox Server.
  - url: 'https://api.rebilly.com'
    description: Live Server.

components:
  securitySchemes:
    JWT:
      $ref: components/securitySchemes/JWT.yaml
    PublishableApiKey:
      $ref: components/securitySchemes/PublishableApiKey.yaml
    SecretApiKey:
      $ref: components/securitySchemes/SecretApiKey.yaml
    CustomerJWT:
      $ref: components/securitySchemes/CustomerJWT.yaml

tags:
  - name: AML
    description: |
      AML, also known as Anti-Money-Laundering is an endpoint that searches multiple
      PEP, Sanctions, and Adverse Media lists for listed identities or media for screening
      purposes. Used during some transaction processing and on Contact creation, it helps
      determine whether someone is blocklisted or has political or economic sanctions against
      them.
  - name: Blocklists
    description: |
      Your blocklists contains values of customerIds, email addresses,
      ipAddresses, bank identification numbers, countries or payment cards that
      you do NOT want to do business with. They are a good tool for managing
      risk. A blocklist entry that expires after a period of time we call a
      greylist.
  - name: Coupons
    description: >
      Coupons allows to apply different types of discounts to Invoices,
      Orders and Plans. Redeemed Coupons will be applied only to Invoices
      with the same currency.
  - name: Customers
    description: |
      Customers are your customers, sometimes known as accounts, clients,
      members, patrons, or players in other systems.
  - name: Customers Timeline
    description: |
      The customers timeline keeps an audit trail of changes and activity for each customer.
  - name: KYC Documents
    description: >
      Customer KYC files uploaded on behalf of a customer, tagged with a
      document type and submitted for validation.
  - name: Customer Authentication
    description: >
      Create authentication credentials, login, logout, and verify your
      customers.
  - name: Custom Fields
    description: |
      Create additional custom fields for particular resources.  You may name,
      describe, and determine the type of the schema.
  - name: Disputes
    description: |
      Handle disputes (chargebacks and retrievals).
  - name: Files
    description: >
      A File is an entity that can store a physical file and some metadata. It
      also provides an easy access to

      its size, mime-type, user-defined tags and description thus allowing easy
      sorting and searching among stored

      files.

      There are several methods of file uploading available: multipart/form-data
      encoded form, RAW POST (by sending

      file contents as POST body), fetching from URL (by providing the file URL
      via 'url' param)

      Attachment is an entity that is used to link a File to one or multiple
      objects like Customer, Dispute, Payment,

      Transaction, Order, Plan, Product, Invoice, Note. That allows to
      quickly find and use files related to

      those specific entities.
  - name: Invoices
    description: >
      Invoices leave a record for both you and your customer of the products
      sold.
  - name: Payment Instruments
    description: >
      The Payment Instrument allows you to accept a variety of payment methods through a single API.
  - name: Payment Tokens
    description: >
      Payment tokens are used to reduce the scope of PCI DSS compliance.  A
      payment

      token can be made using a different authentication scheme (refer to the
      public key

      authentication scheme in the Authentication section), which allows you to

      create a payment token directly from the browser, bypassing the need to
      send

      sensitive cardholder info to your servers.  We recommend using this with
      our

      Rebilly.js library, which helps you wire a form into this API resource and
      create

      payment tokens.
  - name: Products
    description: |
      A product describes what you sell (goods or services).
      A product determines how what you sell appears on invoices and receipts.
      The pricing for products is set in Plans.  One product can have many
      plans.
  - name: Plans
    description: >
      Plans are a template for making a subscription.  For example, you may have
      a plan

      that has a 30-day free trial followed by a recurring charge of $19.95 per
      month

      until canceled.  The combination of the plan and a request to make an
      order

      will apply those instructions to create the invoices according to the
      plan's

      schedule.
  - name: Search
    description: |
      Search data including customers, invoices, orders, transactions and more.
  - name: Shipping Zones
    description: >
      A shipping zone contains regions and countries that you ship to. Each
      shipping zone has its own shipping rates.
  - name: Orders
    description: >
      An order applies a plan's template to create invoice(s) for a customer,
      optionally at the appropriate scheduled intervals.
      A subscription order may also determine if the payment
      is collected automatically (with autopay set true).
  - name: Tags
    description: |
      Tag customers to better organize your data.
  - name: Transactions
    description: |
      Get and refund transactions.
  - name: Fees
    description: |
      Buy and sell fees.

      This API is experimental and not guaranteed to be backward compatible.
  - name: API Keys
    description: |
      Always keep your API Keys private. When creating your API keys,
      you can restrict them to a given set of permissions.
      In addition to your API Keys, you may use
      JSON Web Tokens (JWT) to authenticate to the API.  See
      our [Sessions](https://user-api-docs.rebilly.com/#tag/JWT-Session) resource for more information.
  - name: Balance transactions
    description: |
      Balance transactions API.

      This API is experimental and not guaranteed to be backward compatible.
  - name: Billing Portals
    description: |
      Customer billing portals can be configured here. You can customize various
      options that appear on your billing portals.
  - name: Checkout Forms
    description: |
      Hosted checkout forms can be configured here. You can customize various
      options that appear on your hosted checkout forms.
  - name: Email Credentials
    description: |
      Get and create SMTP credential hashes.
  - name: Gateway Accounts
    description: |
      Gateway accounts connect payment request to third party networks and platforms.
  - name: Lists
    description: |
      Lists contain sets of values and may be referenced within Rules criteria.

      List order may not be maintained and duplicates may be removed.

      You may grant permissions to edit Lists to different people than those who can edit Rules.
      It may be useful if your workflow involves frequent updates to value sets used in criteria.
  - name: Organizations
    description: |
      Organization is an entity that represents you, or your company, as a merchant. You can have multiple organizations.

      Note: Organizations are shared between "Live" and "Sandbox" environments.
  - name: Profile
    description: |
      A Profile represents the person currently logged in to Rebilly.
  - name: Reset password
    description: |
      When a password reset is requested, an email with a token is sent. Upon receiving the email
      the user then needs to click a link and choose a new password.
  - name: Rules
    description: |
      "Don't conform to the rules. Create the rules."
      Rather than adapt your workflow and business, Rebilly can align with your business
      objectives by giving you the power to automate certain behaviors when key events happen.
      You can use this to your advantage to mitigate risk, maximize conversions and minimize costs.
      You have the controls at your fingertips here. If you need more control,
      or help dialing in on a strategy, feel free to contact us.

      When an event happens, it triggers the evaluation of conditions (that you set up),
      in order from top to bottom. If the condition is met, the corresponding actions are executed.
      The conditions continue to be checked until either all of the conditions have been executed,
      or a special "stop" action is executed.
  - name: JWT Session
    description: |
      A session contains a token, which is a JSON Web Token.  The token is created
      with a user's signin credentials.

      This token can be used to authenticate to the API.  In addition, the session can be set to
      expire at a particular time. Use the token to then authenticate for further requests to the Rebilly API.

      The token should be kept private, but could be stored on the user's browser
      client to simulate a "session".
  - name: Status
    description: |
      Check the status of the Rebilly API (no authentication required).
  - name: Tracking
    description: |
      Tracking is a layer for accessing all the activity (API requests,
      subscriptions, webhooks, events, etc.), thus providing easier
      debugging and issues auditing.
  - name: Users
    description: |
      A User represents a person who can login to Rebilly, and take actions subject to
      their granted permissions.
  - name: Websites
    description: |
      A Website represents the website/brand that customers interact with... You
      could think of it like a brand.  For example, Nestle owns Perrier and Purina
      and PowerBar.

      We recognize that some enterprises have more than one website (or brand).  The
      website is related to each invoice and each payment gateway account.  This feature
      would allow you to have gateway accounts that are related to multiple websites, or
      exclusive to particular websites.  And gives you more control over your business.
  - name: Webhook Credentials
    description: |
      Get and create Webhook credential hashes.
  - name: Webhooks
    description: |
      Webhooks are designed to notify your systems when certain/all registered events happen in near real-time.
      They allow you to collect information about those events. Rebilly can send these information via
      POST to an URL of your choice.
  - name: Segments
    description: |
      Segments are grid UI settings that can be shared with other users. They are like a custom view.
      For example, one may set up a transaction grid to show specific columns and sort a certain way, and share it with
      others in their organization.
  - name: Memberships
    description: |
      Membership describe the relationships between organizations and users.
      For example, one user could have more than one organization.
  - name: Roles
    description: |
      Roles are an implementation of the general hierarchical RBAC. A senior role inherits all of it's juniors' ACLs plus its own ACL.
      Junior roles are not influenced by the senior role.
  - name: Integrations
  - name: Broadcast Messages
  - name: Email Delivery Settings
  - name: Email Messages
  - name: Email Notifications
  - name: Plaid credentials
  - name: Experian credentials
  - name: TaxJar credentials
  - name: Metadata
  - name: Histograms
    description: |
      Histograms are for particular kinds of reports with cohorts and periods.
  - name: Reports
    description: >
      Retrieve summary information about your customers, subscriptions,
      transactions, and more.
  - name: Data Exports
    description: |
      Data exports.
  - name: Rebilly API
    description: |
      The Rebilly API is the main API commonly integrated by 3rd parties.  You may see
      the [Rebilly API Documentation here](https://api-reference.rebilly.com).
  - name: Reports API
    description: |
      The Rebilly Reporting API is currently experimental.  You may see
      the [Reports API Documentation here](https://reports-api-docs.rebilly.com).
  - name: Users API
    description: >
      The Rebilly User API is primarily for our GUI apps.  You may see

      the [User API Documentation
      here](https://user-api-docs.rebilly.com).

      A User represents a person who can login to Rebilly, and take actions
      subject to

      their granted permissions.  It has resources less commonly integrated by

      3rd parties.

x-tagGroups:
  - name: Customers
    tags:
      - Customers
      - Customer Authentication
      - Tags
      - Customers Timeline
  - name: Payment Instruments
    tags:
      - Payment Instruments
      - Payment Tokens
  - name: Payments
    tags:
      - Transactions
      - Disputes
      - Fees
  - name: Orders & Invoices
    tags:
      - Orders
      - Invoices
      - Plans
      - Products
      - Coupons
      - Shipping Zones
  - name: Risk
    tags:
      - Blocklists
      - KYC Documents
      - AML
  - name: Misc
    tags:
      - Custom Fields
      - Files
      - Search
      - Reports
  - name: Security
    tags:
      - JWT Session
      - API Keys
      - Reset password
  - name: Email
    tags:
      - Broadcast Messages
      - Email Credentials
      - Email Delivery Settings
      - Email Messages
  - name: Rules
    tags:
      - Rules
      - Lists
  - name: Users
    tags:
      - Profile
      - Users
      - Memberships
      - Roles
  - name: Webhooks
    tags:
      - Webhook Credentials
      - Webhooks
  - name: Other
    tags:
      - Balance transactions
      - Gateway Accounts
      - Payment Cards
      - Organizations
      - Segments
      - Status
      - Tracking
      - Websites
      - Integrations
      - Plaid credentials
      - Experian credentials
      - TaxJar credentials
      - Metadata
  - name: Account management
    tags:
      - Account
      - Authentication
      - Billing Portals
      - Email verification
      - Password reset
      - KYC Documents
  - name: Payments
    tags:
      - Payment Instruments
      - Transactions
  - name: Orders
    tags:
      - Checkout Forms
      - Purchases
      - Orders
      - Invoices
      - Products
      - Plans
  - name: System
    tags:
      - Websites
  - name: Related docs
    tags:
      - Rebilly API
      - Reports API
      - Users API

paths:
  /aml:
    $ref: './paths/aml.yaml'
  /attachments:
    $ref: ./paths/attachments.yaml
  '/attachments/{id}':
    $ref: './paths/attachments@{id}.yaml'
  /authentication-options:
    $ref: ./paths/authentication-options.yaml
  /authentication-tokens:
    $ref: ./paths/authentication-tokens.yaml
  '/authentication-tokens/{token}':
    $ref: './paths/authentication-tokens@{token}.yaml'
  '/authentication-tokens/{token}/exchange':
    $ref: './paths/authentication-tokens@{token}@exchange.yaml'
  /blocklists:
    $ref: ./paths/blocklists.yaml
  '/blocklists/{id}':
    $ref: './paths/blocklists@{id}.yaml'
  /coupons-redemptions:
    $ref: ./paths/coupons-redemptions.yaml
  '/coupons-redemptions/{id}':
    $ref: './paths/coupons-redemptions@{id}.yaml'
  '/coupons-redemptions/{id}/cancel':
    $ref: './paths/coupons-redemptions@{id}@cancel.yaml'
  /coupons:
    $ref: ./paths/coupons.yaml
  '/coupons/{id}':
    $ref: './paths/coupons@{id}.yaml'
  '/coupons/{id}/expiration':
    $ref: './paths/coupons@{id}@expiration.yaml'
  /credentials:
    $ref: ./paths/credentials.yaml
  '/credentials/{id}':
    $ref: './paths/credentials@{id}.yaml'
  '/custom-fields/{resource}':
    $ref: './paths/custom-fields@{resource}.yaml'
  '/custom-fields/{resource}/{name}':
    $ref: './paths/custom-fields@{resource}@{name}.yaml'
  /customers:
    $ref: ./paths/customers.yaml
  '/customers/{id}':
    $ref: './paths/customers@{id}.yaml'
  /customer-timeline-custom-events:
    $ref: ./paths/customer-timeline-custom-events.yaml
  '/customer-timeline-custom-events/{id}':
    $ref: './paths/customer-timeline-custom-events@{id}.yaml'
  /customer-timeline-events:
    $ref: ./paths/customer-timeline-events.yaml
  '/customers/{id}/lead-source':
    $ref: './paths/customers@{id}@lead-source.yaml'
  '/customers/{id}/timeline':
    $ref: './paths/customers@{id}@timeline.yaml'
  '/customers/{id}/timeline/{messageId}':
    $ref: './paths/customers@{id}@timeline@{messageId}.yaml'
  /disputes:
    $ref: ./paths/disputes.yaml
  '/disputes/{id}':
    $ref: './paths/disputes@{id}.yaml'
  /files:
    $ref: ./paths/files.yaml
  '/files/{id}':
    $ref: './paths/files@{id}.yaml'
  '/files/{id}/download':
    $ref: './paths/files@{id}@download.yaml'
  '/files/{id}/download{extension}':
    $ref: './paths/files@{id}@download{extension}.yaml'
  /invoices:
    $ref: ./paths/invoices.yaml
  '/invoices/{id}':
    $ref: './paths/invoices@{id}.yaml'
  '/invoices/{id}/items':
    $ref: './paths/invoices@{id}@items.yaml'
  '/invoices/{id}/items/{itemId}':
    $ref: './paths/invoices@{id}@items@{itemId}.yaml'
  '/invoices/{id}/issue':
    $ref: './paths/invoices@{id}@issue.yaml'
  '/invoices/{id}/abandon':
    $ref: './paths/invoices@{id}@abandon.yaml'
  '/invoices/{id}/void':
    $ref: './paths/invoices@{id}@void.yaml'
  '/invoices/{id}/recalculate':
    $ref: './paths/invoices@{id}@recalculate.yaml'
  '/invoices/{id}/reissue':
    $ref: './paths/invoices@{id}@reissue.yaml'
  '/invoices/{id}/transaction-allocations':
    $ref: './paths/invoices@{id}@transaction-allocations.yaml'
  '/invoices/{id}/transaction':
    $ref: './paths/invoices@{id}@transaction.yaml'
  '/customers/{id}/upcoming-invoices':
    $ref: './paths/customers@{id}@upcoming-invoices.yaml'
  '/invoices/{id}/timeline':
    $ref: './paths/invoices@{id}@timeline.yaml'
  '/invoices/{id}/timeline/{messageId}':
    $ref: './paths/invoices@{id}@timeline@{messageId}.yaml'
  /kyc-documents:
    $ref: ./paths/kyc-documents.yaml
  '/kyc-documents/{id}':
    $ref: './paths/kyc-documents@{id}.yaml'
  '/kyc-documents/{id}/acceptance':
    $ref: './paths/kyc-documents@{id}@acceptance.yaml'
  '/kyc-documents/{id}/matches':
    $ref: './paths/kyc-documents@{id}@matches.yaml'
  '/kyc-documents/{id}/rejection':
    $ref: './paths/kyc-documents@{id}@rejection.yaml'
  '/kyc-documents/{id}/review':
    $ref: './paths/kyc-documents@{id}@review.yaml'
  /kyc-requests:
    $ref: ./paths/kyc-requests.yaml
  '/kyc-requests/{id}':
    $ref: './paths/kyc-requests@{id}.yaml'
  /password-tokens:
    $ref: ./paths/password-tokens.yaml
  '/password-tokens/{id}':
    $ref: './paths/password-tokens@{id}.yaml'
  '/payment-instruments':
    $ref: './paths/payment-instruments.yaml'
  '/payment-instruments/{id}':
    $ref: './paths/payment-instruments@{id}.yaml'
  '/payment-instruments/{id}/deactivation':
    $ref: './paths/payment-instruments@{id}@deactivation.yaml'
  /plans:
    $ref: ./paths/plans.yaml
  '/plans/{id}':
    $ref: './paths/plans@{id}.yaml'
  /products:
    $ref: ./paths/products.yaml
  '/products/{id}':
    $ref: './paths/products@{id}.yaml'
  '/ready-to-pay':
    $ref: ./paths/ready-to-pay.yaml
  /search:
    $ref: ./paths/search.yaml
  /shipping-zones:
    $ref: ./paths/shipping-zones.yaml
  '/shipping-zones/{id}':
    $ref: './paths/shipping-zones@{id}.yaml'
  /subscriptions:
    $ref: ./paths/subscriptions.yaml
  '/subscriptions/{id}':
    $ref: './paths/subscriptions@{id}.yaml'
  '/subscriptions/{id}/change-items':
    $ref: './paths/subscriptions@{id}@change-items.yaml'
  '/subscriptions/{id}/interim-invoice':
    $ref: './paths/subscriptions@{id}@interim-invoice.yaml'
  /subscription-cancellations:
    $ref: ./paths/subscription-cancellations.yaml
  '/subscription-cancellations/{id}':
    $ref: './paths/subscription-cancellations@{id}.yaml'
  /subscription-reactivations:
    $ref: ./paths/subscription-reactivations.yaml
  '/subscription-reactivations/{id}':
    $ref: './paths/subscription-reactivations@{id}.yaml'
  '/subscriptions/{id}/upcoming-invoices':
    $ref: './paths/subscriptions@{id}@upcoming-invoices.yaml'
  '/subscriptions/{id}/upcoming-invoices/{invoiceId}/issue':
    $ref: './paths/subscriptions@{id}@upcoming-invoices@{invoiceId}@issue.yaml'
  '/subscriptions/{id}/timeline':
    $ref: './paths/subscriptions@{id}@timeline.yaml'
  '/subscriptions/{id}/timeline/{messageId}':
    $ref: './paths/subscriptions@{id}@timeline@{messageId}.yaml'
  /tags:
    $ref: ./paths/tags.yaml
  '/tags/{tag}':
    $ref: './paths/tags@{tag}.yaml'
  '/tags/{tag}/customers':
    $ref: './paths/tags@{tag}@customers.yaml'
  '/tags/{tag}/customers/{customerId}':
    $ref: './paths/tags@{tag}@customers@{customerId}.yaml'
  /tokens:
    $ref: ./paths/tokens.yaml
  '/tokens/{token}':
    $ref: './paths/tokens@{token}.yaml'
  /digital-wallets/validation:
    $ref: './paths/digital-wallets@validation.yaml'
  /transactions:
    $ref: ./paths/transactions.yaml
  '/transactions/{id}':
    $ref: './paths/transactions@{id}.yaml'
  /payouts:
    $ref: ./paths/payouts.yaml
  '/transactions/{id}/query':
    $ref: './paths/transactions@{id}@query.yaml'
  '/transactions/{id}/update':
    $ref: './paths/transactions@{id}@update.yaml'
  '/transactions/{id}/refund':
    $ref: './paths/transactions@{id}@refund.yaml'
  '/transactions/{id}/timeline':
    $ref: './paths/transactions@{id}@timeline.yaml'
  '/transactions/{id}/timeline/{messageId}':
    $ref: './paths/transactions@{id}@timeline@{messageId}.yaml'
  '/fees':
    $ref: './paths/fees/fees.yaml'
  '/fees/{id}':
    $ref: './paths/fees/fees@{id}.yaml'
  '/activation/{token}':
    $ref: './paths/activation@{token}.yaml'
  /api-keys:
    $ref: ./paths/api-keys.yaml
  '/api-keys/{id}':
    $ref: './paths/api-keys@{id}.yaml'
  /balance-transactions:
    $ref: './paths/balance-transactions.yaml'
  '/balance-transactions/{id}':
    $ref: './paths/balance-transactions@{id}.yaml'
  /billing-portals:
    $ref: ./paths/billing-portals.yaml
  /billing-portals/{id}:
    $ref: './paths/billing-portals@{id}.yaml'
  /broadcast-messages:
    $ref: ./paths/broadcast-messages.yaml
  '/broadcast-messages/{id}':
    $ref: './paths/broadcast-messages@{id}.yaml'
  /checkout-forms:
    $ref: ./paths/checkout-forms.yaml
  /checkout-forms/{id}:
    $ref: './paths/checkout-forms@{id}.yaml'
  /credential-hashes/aws-ses:
    $ref: ./paths/credential-hashes@aws-ses.yaml
  '/credential-hashes/aws-ses/{hash}':
    $ref: './paths/credential-hashes@aws-ses@{hash}.yaml'
  /credential-hashes/emails:
    $ref: ./paths/credential-hashes@emails.yaml
  '/credential-hashes/emails/{hash}':
    $ref: './paths/credential-hashes@emails@{hash}.yaml'
  /credential-hashes/mailgun:
    $ref: ./paths/credential-hashes@mailgun.yaml
  '/credential-hashes/mailgun/{hash}':
    $ref: './paths/credential-hashes@mailgun@{hash}.yaml'
  /credential-hashes/oauth2:
    $ref: ./paths/credential-hashes@oauth2.yaml
  '/credential-hashes/oauth2/{hash}':
    $ref: './paths/credential-hashes@oauth2@{hash}.yaml'
  '/credential-hashes/oauth2/{hash}/items':
    $ref: './paths/credential-hashes@oauth2@{hash}@items.yaml'
  /credential-hashes/plaid:
    $ref: './paths/credential-hashes@plaid.yaml'
  '/credential-hashes/plaid/{hash}':
    $ref: './paths/credential-hashes@plaid@{hash}.yaml'
  /credential-hashes/postmark:
    $ref: ./paths/credential-hashes@postmark.yaml
  '/credential-hashes/postmark/{hash}':
    $ref: './paths/credential-hashes@postmark@{hash}.yaml'
  /credential-hashes/sendgrid:
    $ref: ./paths/credential-hashes@sendgrid.yaml
  '/credential-hashes/sendgrid/{hash}':
    $ref: './paths/credential-hashes@sendgrid@{hash}.yaml'
  /credential-hashes/webhooks:
    $ref: ./paths/credential-hashes@webhooks.yaml
  '/credential-hashes/webhooks/{hash}':
    $ref: './paths/credential-hashes@webhooks@{hash}.yaml'
  /credential-hashes/experian:
    $ref: ./paths/credential-hashes@experian.yaml
  '/credential-hashes/experian/{hash}':
    $ref: './paths/credential-hashes@experian@{hash}.yaml'
  /credential-hashes/taxjar:
    $ref: ./paths/credential-hashes@taxjar.yaml
  '/credential-hashes/taxjar/{hash}':
    $ref: './paths/credential-hashes@taxjar@{hash}.yaml'
  '/email-delivery-setting-verifications/{token}':
    $ref: './paths/email-delivery-setting-verifications@{token}.yaml'
  /email-delivery-settings:
    $ref: ./paths/email-delivery-settings.yaml
  '/email-delivery-settings/{id}':
    $ref: './paths/email-delivery-settings@{id}.yaml'
  '/email-delivery-settings/{id}/resend-email-verification':
    $ref: './paths/email-delivery-settings@{id}@resend-email-verification.yaml'
  /email-messages:
    $ref: ./paths/email-messages.yaml
  '/email-messages/{id}':
    $ref: './paths/email-messages@{id}.yaml'
  /email-notifications:
    $ref: ./paths/email-notifications.yaml
  /events:
    $ref: ./paths/events.yaml
  '/events/{eventType}':
    $ref: './paths/events@{eventType}.yaml'
  '/events/{eventType}/rules':
    $ref: './paths/events@{eventType}@rules.yaml'
  '/events/{eventType}/timeline':
    $ref: './paths/events@{eventType}@timeline.yaml'
  '/events/{eventType}/timeline/{messageId}':
    $ref: './paths/events@{eventType}@timeline@{messageId}.yaml'
  '/events/{eventType}/rules/history':
    $ref: './paths/events@{eventType}@rules@history.yaml'
  '/events/{eventType}/rules/history/{version}':
    $ref: './paths/events@{eventType}@rules@history@{version}.yaml'
  '/events/{eventType}/rules/versions/{version}':
    $ref: './paths/events@{eventType}@rules@versions@{version}.yaml'
  '/events/{eventType}/rules/drafts':
    $ref: './paths/events@{eventType}@rules@drafts.yaml'
  '/events/{eventType}/rules/drafts/{id}':
    $ref: './paths/events@{eventType}@rules@drafts@{id}.yaml'
  /forgot-password:
    $ref: ./paths/forgot-password.yaml
  /gateway-accounts:
    $ref: ./paths/gateway-accounts.yaml
  '/gateway-accounts/{id}':
    $ref: './paths/gateway-accounts@{id}.yaml'
  '/gateway-accounts/{id}/close':
    $ref: './paths/gateway-accounts@{id}@close.yaml'
  '/gateway-accounts/{id}/disable':
    $ref: './paths/gateway-accounts@{id}@disable.yaml'
  '/gateway-accounts/{id}/downtime-schedules':
    $ref: './paths/gateway-accounts@{id}@downtime-schedules.yaml'
  '/gateway-accounts/{id}/downtime-schedules/{downtimeId}':
    $ref: './paths/gateway-accounts@{id}@downtime-schedules@{downtimeId}.yaml'
  '/gateway-accounts/{id}/enable':
    $ref: './paths/gateway-accounts@{id}@enable.yaml'
  '/gateway-accounts/{id}/limits':
    $ref: './paths/gateway-accounts@{id}@limits.yaml'
  '/gateway-accounts/{id}/limits/{limitId}':
    $ref: './paths/gateway-accounts@{id}@limits@{limitId}.yaml'
  '/gateway-accounts/{id}/timeline':
    $ref: './paths/gateway-accounts@{id}@timeline.yaml'
  '/gateway-accounts/{id}/timeline/{messageId}':
    $ref: './paths/gateway-accounts@{id}@timeline@{messageId}.yaml'
  '/gateway-accounts/{id}/check-credentials':
    $ref: './paths/gateway-accounts@{id}@check-credentials.yaml'
  '/gateway-accounts/{id}/financial-settings':
    $ref: './paths/gateway-accounts@{id}@financial-settings.yaml'
  /grid-segments:
    $ref: ./paths/grid-segments.yaml
  '/grid-segments/{id}':
    $ref: './paths/grid-segments@{id}.yaml'
  /integrations:
    $ref: ./paths/integrations.yaml
  '/integrations/{label}':
    $ref: './paths/integrations@{label}.yaml'
  /lists:
    $ref: ./paths/lists.yaml
  '/lists/{id}':
    $ref: './paths/lists@{id}.yaml'
  '/lists/{id}/{version}':
    $ref: './paths/lists@{id}@{version}.yaml'
  /logout:
    $ref: ./paths/logout.yaml
  /memberships:
    $ref: ./paths/memberships.yaml
  '/memberships/{organizationId}/{userId}':
    $ref: './paths/memberships@{organizationId}@{userId}.yaml'
  /organizations:
    $ref: ./paths/organizations.yaml
  '/organizations/{id}':
    $ref: './paths/organizations@{id}.yaml'
  /payment-cards-bank-names:
    $ref: ./paths/payment-cards-bank-names.yaml
  /payment-methods:
    $ref: ./paths/payment-methods.yaml
  /payment-methods/{apiName}:
    $ref: './paths/payment-methods@{apiName}.yaml'
  /payment-gateways-metadata:
    $ref: ./paths/payment-gateways-metadata.yaml
  /payment-gateways-metadata/{apiName}:
    $ref: './paths/payment-gateways-metadata@{apiName}.yaml'
  /permissions-emulation:
    $ref: ./paths/permissions-emulation.yaml
  /previews/rule-actions/send-email:
    $ref: ./paths/previews@rule-actions@send-email.yaml
  /previews/rule-actions/trigger-webhook:
    $ref: ./paths/previews@rule-actions@trigger-webhook.yaml
  /previews/webhooks:
    $ref: ./paths/previews@webhooks.yaml
  /profile:
    $ref: ./paths/profile.yaml
  /profile/password:
    $ref: ./paths/profile@password.yaml
  /profile/totp-reset:
    $ref: ./paths/profile@totp-reset.yaml
  '/reset-password/{token}':
    $ref: './paths/reset-password@{token}.yaml'
  '/roles':
    $ref: ./paths/roles.yaml
  '/roles/{id}':
    $ref: './paths/roles@{id}.yaml'
  '/send-through-attribution/{eventType}':
    $ref: './paths/send-through-attribution@{eventType}.yaml'
  /signin:
    $ref: ./paths/signin.yaml
  /signup:
    $ref: ./paths/signup.yaml
  /status:
    $ref: ./paths/status.yaml
  /tracking/api:
    $ref: ./paths/tracking@api.yaml
  '/tracking/api/{id}':
    $ref: './paths/tracking@api@{id}.yaml'
  /tracking/lists:
    $ref: ./paths/tracking@lists.yaml
  /tracking/webhooks:
    $ref: ./paths/tracking@webhooks.yaml
  '/tracking/webhooks/{id}':
    $ref: './paths/tracking@webhooks@{id}.yaml'
  '/tracking/webhooks/{id}/resend':
    $ref: './paths/tracking@webhooks@{id}@resend.yaml'
  /users:
    $ref: ./paths/users.yaml
  '/users/{id}':
    $ref: './paths/users@{id}.yaml'
  '/users/{id}/password':
    $ref: './paths/users@{id}@password.yaml'
  '/users/{id}/totp-reset':
    $ref: './paths/users@{id}@totp-reset.yaml'
  /webhooks:
    $ref: ./paths/webhooks.yaml
  '/webhooks/{id}':
    $ref: './paths/webhooks@{id}.yaml'
  /websites:
    $ref: ./paths/websites.yaml
  '/websites/{id}':
    $ref: './paths/websites@{id}.yaml'
  '/experimental/customers/{customerId}/summary-metrics':
    $ref: './paths/customers@{customerId}@summary-metrics.yaml'
  /experimental/data-exports:
    $ref: ./paths/data-exports.yaml
  '/experimental/data-exports/{id}':
    $ref: './paths/data-exports@{id}.yaml'
  /experimental/histograms/transactions:
    $ref: ./paths/histograms@transactions.yaml
  /experimental/reports/api-log-summary:
    $ref: ./paths/reports@api-log-summary.yaml
  /experimental/reports/cumulative-subscriptions:
    $ref: ./paths/reports@cumulative-subscriptions.yaml
  /experimental/reports/dashboard:
    $ref: ./paths/reports@dashboard.yaml
  /experimental/reports/dcc-markup:
    $ref: ./paths/reports@dcc-markup.yaml
  /experimental/reports/disputes:
    $ref: ./paths/reports@disputes.yaml
  /experimental/reports/events-triggered:
    $ref: ./paths/reports@events-triggered.yaml
  '/experimental/reports/events-triggered/{eventType}/rules':
    $ref: ./paths/reports@events-triggered@{eventType}@rules.yaml
  /experimental/reports/future-renewals:
    $ref: ./paths/reports@future-renewals.yaml
  /experimental/reports/renewal-sales:
    $ref: ./paths/reports@renewal-sales.yaml
  /experimental/reports/retention-percentage:
    $ref: ./paths/reports@retention-percentage.yaml
  /experimental/reports/retention-value:
    $ref: ./paths/reports@retention-value.yaml
  /experimental/reports/subscription-cancellation:
    $ref: ./paths/reports@subscription-cancellation.yaml
  /experimental/reports/subscription-renewal:
    $ref: ./paths/reports@subscription-renewal.yaml
  /experimental/reports/time-series-transaction:
    $ref: ./paths/reports@time-series-transaction.yaml
  /experimental/reports/transactions-time-dispute:
    $ref: ./paths/reports@transactions-time-dispute.yaml
  /experimental/reports/transactions:
    $ref: ./paths/reports@transactions.yaml
  '/experimental/subscriptions/{subscriptionId}/summary-metrics':
    $ref: ./paths/subscriptions@{subscriptionId}@summary-metrics.yaml

x-webhooks:
  aml-list-possibly-matched:
    post:
      $ref: ./webhooks/aml-list-possibly-matched.yaml
  customer-created:
    post:
      $ref: ./webhooks/customer-created.yaml
  customer-merged:
    post:
      $ref: ./webhooks/customer-merged.yaml
  customer-one-time-password-requested:
    post:
      $ref: ./webhooks/customer-one-time-password-requested.yaml
  customer-redirected-offsite:
    post:
      $ref: ./webhooks/customer-redirected-offsite.yaml
  customer-returned:
    post:
      $ref: ./webhooks/customer-returned.yaml
  customer-updated:
    post:
      $ref: ./webhooks/customer-updated.yaml
  dispute-created:
    post:
      $ref: ./webhooks/dispute-created.yaml
  dispute-modified:
    post:
      $ref: ./webhooks/dispute-modified.yaml
  experian-check-performed:
    post:
      $ref: ./webhooks/experian-check-performed.yaml
  invoice-tax-calculation-failed:
    post:
      $ref: ./webhooks/invoice-tax-calculation-failed.yaml
  gateway-account-downtime-ended:
    post:
      $ref: ./webhooks/gateway-account-downtime-ended.yaml
  gateway-account-downtime-started:
    post:
      $ref: ./webhooks/gateway-account-downtime-started.yaml
  gateway-account-limit-reached:
    post:
      $ref: ./webhooks/gateway-account-limit-reached.yaml
  gateway-account-requested:
    post:
      $ref: ./webhooks/gateway-account-requested.yaml
  invoice-abandoned:
    post:
      $ref: ./webhooks/invoice-abandoned.yaml
  invoice-created:
    post:
      $ref: ./webhooks/invoice-created.yaml
  invoice-issued:
    post:
      $ref: ./webhooks/invoice-issued.yaml
  invoice-modified:
    post:
      $ref: ./webhooks/invoice-modified.yaml
  invoice-paid:
    post:
      $ref: ./webhooks/invoice-paid.yaml
  invoice-partially-paid:
    post:
      $ref: ./webhooks/invoice-partially-paid.yaml
  invoice-refunded:
    post:
      $ref: ./webhooks/invoice-refunded.yaml
  invoice-partially-refunded:
    post:
      $ref: ./webhooks/invoice-partially-refunded.yaml
  invoice-past-due:
    post:
      $ref: ./webhooks/invoice-past-due.yaml
  invoice-past-due-reminder:
    post:
      $ref: ./webhooks/invoice-past-due-reminder.yaml
  invoice-reissued:
    post:
      $ref: ./webhooks/invoice-reissued.yaml
  invoice-voided:
    post:
      $ref: ./webhooks/invoice-voided.yaml
  kyc-document-accepted:
    post:
      $ref: ./webhooks/kyc-document-accepted.yaml
  kyc-document-modified:
    post:
      $ref: ./webhooks/kyc-document-modified.yaml
  kyc-document-rejected:
    post:
      $ref: ./webhooks/kyc-document-rejected.yaml
  kyc-document-reviewed:
    post:
      $ref: ./webhooks/kyc-document-reviewed.yaml
  nsf-response-received:
    post:
      $ref: ./webhooks/nsf-response-received.yaml
  offsite-payment-completed:
    post:
      $ref: ./webhooks/offsite-payment-completed.yaml
  order-completed:
    post:
      $ref: ./webhooks/order-completed.yaml
  payment-card-created:
    post:
      $ref: ./webhooks/payment-card-created.yaml
  payment-card-expiration-reminder:
    post:
      $ref: ./webhooks/payment-card-expiration-reminder.yaml
  payment-card-expired:
    post:
      $ref: ./webhooks/payment-card-expired.yaml
  renewal-invoice-issued:
    post:
      $ref: ./webhooks/renewal-invoice-issued.yaml
  renewal-invoice-payment-canceled:
    post:
      $ref: ./webhooks/renewal-invoice-payment-canceled.yaml
  renewal-invoice-payment-declined:
    post:
      $ref: ./webhooks/renewal-invoice-payment-declined.yaml
  risk-score-changed:
    post:
      $ref: ./webhooks/risk-score-changed.yaml
  subscription-activated:
    post:
      $ref: ./webhooks/subscription-activated.yaml
  subscription-canceled:
    post:
      $ref: ./webhooks/subscription-canceled.yaml
  subscription-modified:
    post:
      $ref: ./webhooks/subscription-modified.yaml
  subscription-reactivated:
    post:
      $ref: ./webhooks/subscription-reactivated.yaml
  subscription-renewal-reminder:
    post:
      $ref: ./webhooks/subscription-renewal-reminder.yaml
  subscription-renewed:
    post:
      $ref: ./webhooks/subscription-renewed.yaml
  subscription-trial-converted:
    post:
      $ref: ./webhooks/subscription-trial-converted.yaml
  subscription-trial-end-reminder:
    post:
      $ref: ./webhooks/subscription-trial-end-reminder.yaml
  subscription-trial-ended:
    post:
      $ref: ./webhooks/subscription-trial-ended.yaml
  subscription-trial-end-changed:
    post:
      $ref: ./webhooks/subscription-trial-end-changed.yaml
  transaction-amount-discrepancy-found:
    post:
      $ref: ./webhooks/transaction-amount-discrepancy-found.yaml
  transaction-declined:
    post:
      $ref: ./webhooks/transaction-declined.yaml
  transaction-discrepancy-found:
    post:
      $ref: ./webhooks/transaction-discrepancy-found.yaml
  transaction-process-requested:
    post:
      $ref: ./webhooks/transaction-process-requested.yaml
  transaction-processed:
    post:
      $ref: ./webhooks/transaction-processed.yaml
  transaction-timeout-resolved:
    post:
      $ref: ./webhooks/transaction-timeout-resolved.yaml
  waiting-gateway-transaction-completed:
    post:
      $ref: ./webhooks/waiting-gateway-transaction-completed.yaml
