openapi: 3.0.0
info:
  version: '0.1'
  title: Rebilly Experimental Reports REST API
  contact:
    name: Rebilly API Support
    url: 'https://www.rebilly.com/contact/'
    email: integrations@rebilly.com
  license:
    name: Rebilly
    url: 'https://www.rebilly.com/api-license/'
  termsOfService: 'https://www.rebilly.com/terms-of-use/'
  x-logo:
    url: 'https://rebilly-core.redoc.ly/rb_apiLogo.svg'
    backgroundColor: '#0033A0'
  description: |
    # Introduction

    This API is experimental and likely to change.  We would appreciate
    feedback.

    # Authentication

    This topic describes the different forms of authentication that are available in the Rebilly API, and how to use them.

    Rebilly offers four forms of authentication: secret key, publishable key,
    JSON Web Tokens, and public signature key.

    - Secret API key: Use to make requests from the server side. Never share these keys. Keep them guarded and secure.
    - Publishable API key: Use in your client-side code to tokenize payment information.
    - JWT: Use to make short-life tokens that expire after a set period of time.

    <!-- ReDoc-Inject: <security-definitions> -->

    ## Manage API keys

    To create or manage API keys, select one of the following:

    - Use the Rebilly UI: In the left navigation bar, click ![automation icon](/images/automation.svg), **Integrations**, **Custom integrations**, then click **API keys**.
    - Use the Rebilly API: go to [API Keys](https://user-api-docs.rebilly.com/#tag/API-Keys).

    For more information, see [API keys](https://www.rebilly.com/docs/concepts-and-features/concept/api-keys).

    ## Javascript SDK

    The [Javascript SDK](https://github.com/Rebilly/rebilly-js-sdk) is maintained
    within Github, and contains the installation and usage instructions in the Readme file.
    SDK code examples are included in these docs.

tags:
  - name: Histograms
    description: |
      Histograms are for particular kinds of reports with cohorts and periods.
  - name: Reports
    description: >
      Retrieve summary information about your customers, subscriptions,
      transactions, and more.
  - name: Data Exports
    description: |
      Data exports.
  - name: Orders
  - name: Customers
security:
  - SecretApiKey: []
servers:
  - url: 'https://api-sandbox.rebilly.com/experimental/organizations/{organizationId}'
    description: Sandbox server
    variables:
      organizationId:
        default: unknown
        description: Your organization ID.
  - url: 'https://api.rebilly.com/experimental/organizations/{organizationId}'
    description: Live server
    variables:
      organizationId:
        default: unknown
        description: Your organization ID.

components:
  securitySchemes:
    JWT:
      $ref: components/securitySchemes/JWT.yaml
    PublishableApiKey:
      $ref: components/securitySchemes/PublishableApiKey.yaml
    SecretApiKey:
      $ref: components/securitySchemes/SecretApiKey.yaml

paths:
  '/customers/{customerId}/summary-metrics':
    $ref: './paths/customers@{customerId}@summary-metrics.yaml'
  /data-exports:
    $ref: ./paths/data-exports.yaml
  '/data-exports/{id}':
    $ref: './paths/data-exports@{id}.yaml'
  /histograms/transactions:
    $ref: ./paths/histograms@transactions.yaml
  /reports/api-log-summary:
    $ref: ./paths/reports@api-log-summary.yaml
  /reports/cumulative-subscriptions:
    $ref: ./paths/reports@cumulative-subscriptions.yaml
  /reports/dashboard:
    $ref: ./paths/reports@dashboard.yaml
  /reports/dcc-markup:
    $ref: ./paths/reports@dcc-markup.yaml
  /reports/disputes:
    $ref: ./paths/reports@disputes.yaml
  /reports/events-triggered:
    $ref: ./paths/reports@events-triggered.yaml
  '/reports/events-triggered/{eventType}/rules':
    $ref: './paths/reports@events-triggered@{eventType}@rules.yaml'
  /reports/future-renewals:
    $ref: ./paths/reports@future-renewals.yaml
  /reports/renewal-sales:
    $ref: ./paths/reports@renewal-sales.yaml
  /reports/retention-percentage:
    $ref: ./paths/reports@retention-percentage.yaml
  /reports/retention-value:
    $ref: ./paths/reports@retention-value.yaml
  /reports/subscription-cancellation:
    $ref: ./paths/reports@subscription-cancellation.yaml
  /reports/subscription-renewal:
    $ref: ./paths/reports@subscription-renewal.yaml
  /reports/time-series-transaction:
    $ref: ./paths/reports@time-series-transaction.yaml
  /reports/transactions-time-dispute:
    $ref: ./paths/reports@transactions-time-dispute.yaml
  /reports/transactions:
    $ref: ./paths/reports@transactions.yaml
  '/subscriptions/{subscriptionId}/summary-metrics':
    $ref: './paths/subscriptions@{subscriptionId}@summary-metrics.yaml'
