content:
  application/json:
    schema:
      properties:
        organizationId:
          description: |-
            Unique organization identifier.
            An organization is an entity that represents a company.
            For more information, see [Obtain an organization ID](https://www.rebilly.com/docs/settings/organizations-and-websites/#obtain-your-organization-id-and-website-id).
          allOf:
            - $ref: ../../schemas/ResourceId.yaml
        applicationId:
          description: Unique application identifier string.
          allOf:
            - $ref: ../../schemas/ResourceId.yaml
        eventType:
          enum:
            - application-instance-disabled
          example: application-instance-disabled
          allOf:
            - $ref: ../../schemas/GlobalWebhookEventType.yaml
        _embedded:
          description: |-
            Embedded objects that are requested by the `expand`
            query parameter.
          type: object
          properties:
            application:
              $ref: ../../schemas/Applications/Application.yaml
        _links:
          type: array
          description: Related resource links.
          minItems: 1
          items:
            anyOf:
              - $ref: ../../schemas/Links/ApplicationLink.yaml
description: Application instance disabled webhook request body resource.
