name: "Check PHP SDK v3 code samples"

on:
  pull_request:
    paths:
      - '.github/workflows/php-sdk-3-samples.yaml'
      - 'openapi/code_samples/PHP-SDK-3.0/**'

defaults:
  run:
    working-directory: ./openapi/code_samples/PHP-SDK-3.0

jobs:
  psalm:
    name: "Psalm"
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.0', '8.1', '8.2']

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: "Install PHP w/ Extensions"
        uses: rebilly/setup-php@main
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, curl, json
          tools: composer:v2

      - name: "Get composer cache directory"
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - name: "Install dependencies"
        working-directory: examples
        run: composer install --no-interaction --no-scripts --no-suggest

      - name: "Run tests"
        working-directory: examples
        run: vendor/bin/psalm

  cs:
    name: "Coding standards"
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.0', '8.1', '8.2']

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: "Install PHP w/ Extensions"
        uses: rebilly/setup-php@main
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, curl, json
          tools: composer:v2

      - name: "Get composer cache directory"
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: "Install dependencies"
        working-directory: examples
        run: composer install --no-interaction --no-scripts --no-suggest

      - uses: actions/cache@v3
        with:
          path: .php-cs-fixer.cache
          key: ${{ runner.os }}-cs-fixer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-cs-fixer-

      - name: "Run tests"
        working-directory: examples
        run: vendor/bin/php-cs-fixer fix -vv --dry-run
